<html>
<body>
<div class="modal fade" id="myModalNorm" th:fragment="addCourse" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    	<div class="modal-dialog">
	        <div class="modal-content">
    	        <!-- Modal Header -->
        	    <div class="modal-header">
            	    <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                	</button>
                	<h4 class="modal-title" id="myModalLabel">
                    	Add New Course
                	</h4>
            	</div>
            
            	<!-- Modal Body -->
            	<div class="modal-body">
                
                	<form id="frm" th:action="@{/courses}" th:object="${course}" method="post">
                	  <div class="form-group">
                	    <label class="control-label">CRN</label>
                	      <input type="text" th:field="*{coursenumber}" class="form-control" placeholder="Enter CRN (ex: 123456)"/>
                	  </div>
                	  <div class="form-group">
                	    <label class="control-label">Course Name</label>
                	      <input type="text" th:field="*{courseName}" class="form-control"
                	          placeholder="Enter Course Name (ex: Soft Tools and Dev)"/>
                	  </div>
                	  <div class="form-group">
                	    <label class="control-label">Course Pre-Req</label>
                	      <input type="text" th:field="*{prereqs}" class="form-control"
                	          placeholder="Enter Course Pre-Req (CRN)"/>
                	  </div>
                	  <div class="form-group">
                	    <label class="control-label">Course Co-Req</label>
                	      <input type="text" th:field="*{coreqs}" class="form-control"
                	          placeholder="Enter Course Co-Req (CRN)"/>
                	  </div>
                	  <div class="form-group">
                	    <label class="control-label">Department</label>
                	      <input type="text" th:field="*{department}" class="form-control"
                	          placeholder="Enter Department (ex: MTH)"/>
                	  </div>
                	  <div class="form-group">
                	    <label class="control-label">Description</label>
                	      <input type="text" th:field="*{description}" class="form-control"
                	          placeholder="Enter Description"/>
                	  </div>
                	  <div class="form-group">
                	    <label for="corObj">Learning Objectives</label>
                	      <input type="text" th:field="*{learningObjectives}" class="form-control"
                	          placeholder="Enter Learning Objectives"/>
                	  </div>
                	  <div class="form-group">
                	    <label for="corCredit">Course Credit</label>
                	      <input type="text" th:field="*{credits}" class="form-control"
                	          placeholder="Enter Course Credit"/>
                	  </div>
               		  <div class="btn-group dropup">
                	  			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                	  			Days
                	  			<span class="caret"></span>
                	  			</button>
                	  			<ul class="dropdown-menu">
	  								<li><a href="#">M/W</a></li>
  									<li><a href="#">T/Th</a></li>
  									<li><a href="#">Fri</a></li>
  								</ul>
							</div>
							<div class="btn-group dropup">
                	  			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                	  			Times
                	  			<span class="caret"></span>
                	  			</button>
                	  			<ul class="dropdown-menu">
	  								<li><a href="#">8am</a></li>
  									<li><a href="#">10pm</a></li>
  									<li><a href="#">12pm</a></li>
  									<li><a href="#">2pm</a></li>
  									<li><a href="#">4pm</a></li>
  									<li><a href="#">6pm</a></li>
  									<li><a href="#">8pm</a></li>
  								</ul>
							</div>
							<div class="btn-group dropup">
                	  			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                	  			Buildings
                	  			<span class="caret"></span>
                	  			</button>
                	  			<ul class="dropdown-menu">
	  								<li><a href="#">Plaza</a></li>
  									<li><a href="#">North</a></li>
  									<li><a href="#">West</a></li>
  									<li><a href="#">Science</a></li>
  									<li><a href="#">Applied Manu.</a></li>
  								</ul>
							</div>
							<div class="btn-group dropup">
                	  			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                	  			Times
                	  			<span class="caret"></span>
                	  			</button>
                	  			<ul class="dropdown-menu">
	  								<li><a href="#">Rm 100</a></li>
  									<li><a href="#">Rm 101</a></li>
  									<li><a href="#">Rm 103</a></li>
  									<li><a href="#">Rm 104</a></li>
  									<li><a href="#">Rm 105</a></li>
  									<li><a href="#">Rm 106</a></li>
  									<li><a href="#">Rm 107</a></li>
  									<li><a href="#">Rm 108</a></li>
  									<li><a href="#">Rm 109</a></li>
  								</ul>
							</div>
							<br /> <br />
                	  <button type="submit" class="btn btn-success">Submit</button>
               		  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                	</form>
            	</div>
       		 </div>
    	</div>
	</div>
</body>
</html>