<html>
<body>
<div class="modal fade" id="myModalNorm" th:fragment="addStu" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    	<div class="modal-dialog">
	        <div class="modal-content">
    	        <!-- Modal Header -->
        	    <div class="modal-header">
            	    <button type="button" class="close" data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                	</button>
                	<h4 class="modal-title" id="myModalLabel">
                    	Add New Student
                	</h4>
            	</div>
            
            	<!-- Modal Body -->
            	<div class="modal-body">
                
                	<form id="frm" th:action="@{/students}" th:object="${student}" method="post">
                	  <div class="form-group">
                	    <label class="control-label">Student ID</label>
                	      <input type="text" th:field="*{id}" class="form-control" placeholder="Enter ID"/>
                	  </div>
                	  <div class="form-group">
                	    <label class="control-label">Student Name</label>
                	      <input type="text" th:field="*{firstName}" class="form-control" placeholder="Enter First Name"/>
                	      <br />
                	      <input type="text" th:field="*{lastName}" class="form-control" placeholder="Enter Last Name" />
                	  </div>
                	  <button type="submit" class="btn btn-success">Submit</button>
               		  <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                	</form>
 	          	</div>
   		 </div>
   	</div>
</div>
</body>
</html>