<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Login Form </title>
    </head>
    <body style="background-image: url('http://images.wisegeek.com/black-asphalt.jpg')"> 
        <div th:if="${param.error}" style="color:white">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div style="color:white"><label> User Name : <input type="text" name="username"/> </label></div>
            <div style="color:white"><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    </body>
</html>